In [1]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.set_option("display.max_columns", None)

# Load datasets
df = pd.read_csv("/Users/lubhanshsharma/Downloads/marketing_campaign_data.csv")
data_dict = pd.read_csv("/Users/lubhanshsharma/Downloads/marketing_data_dictionary.csv")

df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country
0,342199,1985,Graduation,Together,59011.7,1,0,2012-11-17,3,0,2,45,6,0,16,3,2,5,3,4,0,0,0,0,0,0,0,Spain
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,0,19,1,19,0,1,1,0,2,3,0,0,0,0,0,0,0,Spain
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,0,339,0,115,138,3,2,1,6,3,0,0,0,0,0,0,0,Australia
3,16164787,1976,Graduation,Married,74031.5,1,0,2014-06-18,47,265,0,130,7,1,75,1,4,0,11,4,0,0,0,0,0,0,0,Spain
4,15815139,1981,Graduation,Divorced,52784.2,1,1,2014-05-20,0,30,3,55,242,0,0,1,3,2,3,6,0,0,0,0,0,0,0,Canada

In [2]:
df.info()
df.describe()
df.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56000 entries, 0 to 55999
Data columns (total 28 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   56000 non-null  int64
 1   Year_Birth           56000 non-null  int64
 2   Education            56000 non-null  object
 3   Marital_Status       56000 non-null  object
 4   Income               56000 non-null  float64
 5   Kidhome              56000 non-null  int64
 6   Teenhome             56000 non-null  int64
 7   Dt_Customer          56000 non-null  object
 8   Recency              56000 non-null  int64
 9   MntWines             56000 non-null  int64
 10  MntFruits            56000 non-null  int64
 11  MntMeatProducts      56000 non-null  int64
 12  MntFishProducts      56000 non-null  int64
 13  MntSweetProducts     56000 non-null  int64
 14  MntGoldProds         56000 non-null  int64
 15  NumDealsPurchases    56000 non-null  int64
 16  NumWebPurchases      56000 non-null  int64
 17  NumCatalogPurchases  56000 non-null  int64
 18  NumStorePurchases    56000 non-null  int64
 19  NumWebVisitsMonth    56000 non-null  int64
 20  AcceptedCmp3         56000 non-null  int64
 21  AcceptedCmp4         56000 non-null  int64
 22  AcceptedCmp5         56000 non-null  int64
 23  AcceptedCmp1         56000 non-null  int64
 24  AcceptedCmp2         56000 non-null  int64
 25  Response             56000 non-null  int64
 26  Complain             56000 non-null  int64
 27  Country              56000 non-null  object
dtypes: float64(1), int64(23), object(4)
memory usage: 12.0+ MB

ID                     0
Year_Birth             0
Education              0
Marital_Status         0
Income                 0
Kidhome                0
Teenhome               0
Dt_Customer            0
Recency                0
MntWines               0
MntFruits              0
MntMeatProducts        0
MntFishProducts        0
MntSweetProducts       0
MntGoldProds           0
NumDealsPurchases      0
NumWebPurchases        0
NumCatalogPurchases    0
NumStorePurchases      0
NumWebVisitsMonth      0
AcceptedCmp3           0
AcceptedCmp4           0
AcceptedCmp5           0
AcceptedCmp1           0
AcceptedCmp2           0
Response               0
Complain               0
Country                0
dtype: int64

In [3]:
# Remove rows with missing Income (business critical field)
df = df[df["Income"].notna()]

# Remove unrealistic ages later (after age creation)

In [4]:
CURRENT_YEAR = datetime.now().year

# Convert date
df["Dt_Customer"] = pd.to_datetime(df["Dt_Customer"], errors="coerce")

# Age
df["Age"] = CURRENT_YEAR - df["Year_Birth"]

# Remove unrealistic ages
df = df[(df["Age"] >= 18) & (df["Age"] <= 90)]

# Children
df["Children"] = df["Kidhome"] + df["Teenhome"]

# Total Spend
spend_cols = [
    "MntWines","MntFruits","MntMeatProducts",
    "MntFishProducts","MntSweetProducts","MntGoldProds"
]
df["Total_Spend"] = df[spend_cols].sum(axis=1)

# Total Purchases
purchase_cols = [
    "NumWebPurchases","NumCatalogPurchases",
    "NumStorePurchases","NumDealsPurchases"
]
df["Total_Purchases"] = df[purchase_cols].sum(axis=1)

# Customer Tenure (in days)
df["Customer_Tenure_Days"] = (datetime.now() - df["Dt_Customer"]).dt.days

df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,MntFruits,MntMeatProducts,MntFishProducts,MntSweetProducts,MntGoldProds,NumDealsPurchases,NumWebPurchases,NumCatalogPurchases,NumStorePurchases,NumWebVisitsMonth,AcceptedCmp3,AcceptedCmp4,AcceptedCmp5,AcceptedCmp1,AcceptedCmp2,Response,Complain,Country,Age,Children,Total_Spend,Total_Purchases,Customer_Tenure_Days
0,342199,1985,Graduation,Together,59011.7,1,0,2012-11-17,3,0,2,45,6,0,16,3,2,5,3,4,0,0,0,0,0,0,0,Spain,41,1,69,13,4793
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,0,19,1,19,0,1,1,0,2,3,0,0,0,0,0,0,0,Spain,51,2,39,4,4649
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,0,339,0,115,138,3,2,1,6,3,0,0,0,0,0,0,0,Australia,48,0,1512,12,4373
3,16164787,1976,Graduation,Married,74031.5,1,0,2014-06-18,47,265,0,130,7,1,75,1,4,0,11,4,0,0,0,0,0,0,0,Spain,50,1,478,16,4215
4,15815139,1981,Graduation,Divorced,52784.2,1,1,2014-05-20,0,30,3,55,242,0,0,1,3,2,3,6,0,0,0,0,0,0,0,Canada,45,2,330,9,4244

In [5]:
df.to_csv("/Users/lubhanshsharma/Downloads/marketing_campaign_data.csv", index=False)
print("✅ Cleaned data saved successfully")

✅ Cleaned data saved successfully