In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("/Users/lubhanshsharma/Downloads/marketing_campaign_data.csv")

In [2]:
# High Income
df["High_Income"] = np.where(df["Income"] > 75000, 1, 0)

# Young Customer
df["Young_Customer"] = np.where(df["Age"] < 30, 1, 0)

# Campaign Responder
df["Campaign_Responder"] = df["Response"]

# High Web Engagement
df["High_Web_Engagement"] = np.where(df["NumWebVisitsMonth"] > 5, 1, 0)

# Family Customer
df["Family_Customer"] = np.where(df["Children"] > 0, 1, 0)

# High Spender (Top 10%)
threshold = df["Total_Spend"].quantile(0.90)
df["High_Spender"] = np.where(df["Total_Spend"] >= threshold, 1, 0)

df.head()

,ID,Year_Birth,Education,Marital_Status,Income,Kidhome,Teenhome,Dt_Customer,Recency,MntWines,...,Children,Total_Spend,Total_Purchases,Customer_Tenure_Days,High_Income,Young_Customer,Campaign_Responder,High_Web_Engagement,Family_Customer,High_Spender
0,342199,1985,Graduation,Together,59011.7,1,0,2012-11-17,3,0,...,1,69,13,4793,0,0,0,0,1,0
1,8075450,1975,Master,Single,1730.0,1,1,2013-04-10,96,0,...,2,39,4,4649,0,0,0,0,1,0
2,13664263,1978,Graduation,Married,98584.6,0,0,2014-01-11,99,920,...,0,1512,12,4373,1,0,0,0,0,0
3,16164787,1976,Graduation,Married,74031.5,1,0,2014-06-18,47,265,...,1,478,16,4215,0,0,0,0,1,0
4,15815139,1981,Graduation,Divorced,52784.2,1,1,2014-05-20,0,30,...,2,330,9,4244,0,0,0,1,1,0

In [3]:
segment_summary = df.groupby("Campaign_Responder").agg({
    "Income":"mean",
    "Total_Spend":"mean",
    "High_Income":"mean",
    "High_Spender":"mean"
})

segment_summary

                          Income  Total_Spend  High_Income  High_Spender
Campaign_Responder
0                   54124.344936   588.571593     0.316874      0.086896
1                   75317.242311   939.294737     0.563339      0.176649

In [4]:
df.to_csv("/Users/lubhanshsharma/Downloads/marketing_campaign_data.csv", index=False)
print("✅ Final segmented data saved")

✅ Final segmented data saved